
@font_color: lightblue;
@bg_color: rgb(40,40,40);
@h1_color:  @font_color;//rgb(80,80,80);
@dev_color: rgb(40,60,100);
@devl_color: rgb(50,75,125);
@devd_color: rgb(30,44, 74);

//https://flatuicolors.com/palette/defo
@green: #2ecc71;
@green_d: #27ae60;
@orange: #e67e22;
@orange_d: #d35400;
@red: #e74c3c;
@red_d: #c0392b;
@purple: #9b59b6;
@purple_d: #8e44ad;

html, body{
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%; 
  background-color: @bg_color; 
  color: @font_color; 
  font-size: large; 
  font-family: Verdana;
}
main{
  max-width: 1400px; margin: 0 auto;
}
iframe{
  display: none;
}
h1{
  margin: 20px 0; 
  padding: 0;
  text-align: center; 
  color: @h1_color;
  border-bottom: 5px solid @font_color;
}
input, button{
  margin:0; 
  padding:0; 
  border:none;
  background-color: @devl_color;
  color: white;
  font-size: x-large;
  
  &:focus{
    outline: none;
  }
}

hr{
  border: none;
}

.right-add-btn{
  flex-grow: 1;
  min-width: 35px;
  max-width: 80px;

  input, button{
    width:100%; 
    height:100%;
    background-color: @green;
    border-left: 3px solid @green_d;
    font-size: xx-large;
    font-weight: bold;
    
    &:hover, &:focus{
      background-color: @green_d;
    }
  }
}
.right-modify-btn{
  form{
    display: inline-block;
    width: 50%;
  }
  input, button{

    &.modify{
      background-color: @orange;
      border-color: @orange_d;
      &:hover, &:focus{
        background-color: @orange_d;  
      }
    }
    &.remove{
      background-color: @red;
      border-color: @red_d;
      &:hover, &:focus{
        background-color: @red_d;  
      }
    }
  }
}
.container{
  background-color: @dev_color;
  border: 15px solid @devd_color;
}
h2{
  background-color: @devd_color;
  margin: 0;
  padding: 4px 0 0 15px;
}
.flex{
  display: flex;
}
.input{
  flex-grow: 1; 
  height: 30px;
  border-left: 3px solid @devd_color;
  padding: 3px;

  &:hover{
    background-color: lighten(@dev_color, 10%);
  }
  &::placeholder{
    color: @bg_color;
    letter-spacing: 3px;
  }

}
.input-container{
  flex-grow: 1;
  padding: 20px;
}


#new-dev-inputs{
  .new-name-id{
    margin-bottom: 20px;
  }
  .new-action-command{
    margin-top: 10px;
  }

  #new-action-command-add{
    div.sep{
      height: 3px;
      width: 100%;
      //background: linear-gradient(to right, @green 40%, @red 60%);
      background: linear-gradient(to right, @devd_color 10%, @green 50%, @red 50%, @devd_color 90%);
    }
    div.buttons{
      justify-content: center;
      button{
        min-width: 150px;
        height: 25px;
        font-size: x-large;
        font-weight: bold;
        line-height: 25px;
        &.add{
          background-color: @green;
          border-left: 3px solid @green_d;
          &:hover, &:focus{
            background-color: @green_d;
          }
        }
        &.remove{
          background-color: @red;
          border-left: 3px solid @red_d;
          &:hover, &:focus{
            background-color: @red_d;
          }
        }
      }
    }
  }
}

.dev-item{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 40px;
  border-bottom: 6px solid @devd_color;

  label{
    margin: auto 20px;
  }

  .dev-item-inputs{
    button{
      &:first-of-type{
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
      }
      &:last-of-type{
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
      }
      height: 100%;
      padding: 5px;
      background-color: @purple;
      border-left: 3px solid @purple_d;

      &:hover, &:focus{
        background-color: @purple_d;
      }
    }
  }
}

footer{
  margin-top: 20px; 
  font-size: middle; 
  text-align: center; 
  display: flex; 
  justify-content: space-between;
}
