html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  color: lightblue;
  font-size: large;
  font-family: Verdana;
}
main {
  max-width: 1400px;
  margin: 0 auto;
}
iframe {
  display: none;
}
h1 {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  color: lightblue;
  border-bottom: 5px solid lightblue;
}
input,
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #324b7d;
  color: white;
  font-size: x-large;
}
input:focus,
button:focus {
  outline: none;
}
hr {
  border: none;
}
.right-add-btn {
  flex-grow: 1;
  min-width: 35px;
  max-width: 80px;
}
.right-add-btn input,
.right-add-btn button {
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
  border-left: 3px solid #27ae60;
  font-size: xx-large;
  font-weight: bold;
}
.right-add-btn input:hover,
.right-add-btn button:hover,
.right-add-btn input:focus,
.right-add-btn button:focus {
  background-color: #27ae60;
}
.right-modify-btn form {
  display: inline-block;
  width: 50%;
}
.right-modify-btn input.modify,
.right-modify-btn button.modify {
  background-color: #e67e22;
  border-color: #d35400;
}
.right-modify-btn input.modify:hover,
.right-modify-btn button.modify:hover,
.right-modify-btn input.modify:focus,
.right-modify-btn button.modify:focus {
  background-color: #d35400;
}
.right-modify-btn input.remove,
.right-modify-btn button.remove {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.right-modify-btn input.remove:hover,
.right-modify-btn button.remove:hover,
.right-modify-btn input.remove:focus,
.right-modify-btn button.remove:focus {
  background-color: #c0392b;
}
.container {
  background-color: #283c64;
  border: 15px solid #1e2c4a;
}
h2 {
  background-color: #1e2c4a;
  margin: 0;
  padding: 4px 0 0 15px;
}
.flex {
  display: flex;
}
.input {
  flex-grow: 1;
  height: 30px;
  border-left: 3px solid #1e2c4a;
  padding: 3px;
}
.input:hover {
  background-color: #375288;
}
.input::placeholder {
  color: #282828;
  letter-spacing: 3px;
}
.input-container {
  flex-grow: 1;
  padding: 20px;
}
#new-dev-inputs .new-name-id {
  margin-bottom: 20px;
}
#new-dev-inputs .new-action-command {
  margin-top: 10px;
}
#new-dev-inputs #new-action-command-add div.sep {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #1e2c4a 10%, #2ecc71 50%, #e74c3c 50%, #1e2c4a 90%);
}
#new-dev-inputs #new-action-command-add div.buttons {
  justify-content: center;
}
#new-dev-inputs #new-action-command-add div.buttons button {
  min-width: 150px;
  height: 25px;
  font-size: x-large;
  font-weight: bold;
  line-height: 25px;
}
#new-dev-inputs #new-action-command-add div.buttons button.add {
  background-color: #2ecc71;
  border-left: 3px solid #27ae60;
}
#new-dev-inputs #new-action-command-add div.buttons button.add:hover,
#new-dev-inputs #new-action-command-add div.buttons button.add:focus {
  background-color: #27ae60;
}
#new-dev-inputs #new-action-command-add div.buttons button.remove {
  background-color: #e74c3c;
  border-left: 3px solid #c0392b;
}
#new-dev-inputs #new-action-command-add div.buttons button.remove:hover,
#new-dev-inputs #new-action-command-add div.buttons button.remove:focus {
  background-color: #c0392b;
}
.dev-item {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 40px;
  border-bottom: 6px solid #1e2c4a;
}
.dev-item label {
  margin: auto 20px;
}
.dev-item .dev-item-inputs button {
  height: 100%;
  padding: 5px;
  background-color: #9b59b6;
  border-left: 3px solid #8e44ad;
}
.dev-item .dev-item-inputs button:first-of-type {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.dev-item .dev-item-inputs button:last-of-type {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}
.dev-item .dev-item-inputs button:hover,
.dev-item .dev-item-inputs button:focus {
  background-color: #8e44ad;
}
footer {
  margin-top: 20px;
  font-size: middle;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
